#section{
  background: rgba( 255, 255, 255, 0.15 );
  // box-shadow: 0 8px 32px 0 rgba(42, 42, 42, 0.37);
  backdrop-filter: blur( 9.5px );
  -webkit-backdrop-filter: blur( 9.5px );
  border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
}